<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcy.petshop.mapper.CustomerMapper">
    <resultMap id="customerMap" type="com.xcy.petshop.pojo.Customer">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="customerImage" column="customerImage"/>
        <result property="petImages" column="petImage"/>
        <result property="address" column="address"/>
        <result property="remark" column="remark"/>
        <result property="kName" column="kName"/>
        <result property="pName" column="name"/>
    </resultMap>
    <sql id="showAllCustomer">
        select * from customer
    </sql>
    <select id="selectAllDogDesc" resultType="com.xcy.petshop.pojo.Customer">
        select c.*, k.kName, p.name from customer c, kind k, pet p where c.p_id = 2 and c.k_id = k.id and p.id = c.p_id
    </select>

    <select id="selectAllCatDesc" resultType="com.xcy.petshop.pojo.Customer">
        select c.*, k.kName from customer c, kind k, pet p where c.p_id = 1 and c.k_id = k.id and p.id = c.p_id
    </select>

    <select id="selectAllDesc" resultType="com.xcy.petshop.pojo.Customer">
        select c.*, k.kName from customer c, kind k, pet p where c.k_id = k.id and p.id = c.p_id
    </select>

    <select id="selectCustomerMessage" resultType="com.xcy.petshop.pojo.Customer">
        <include refid="showAllCustomer"></include>
    </select>
</mapper>