<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcy.petshop.mapper.FoodMapper">
    <resultMap id="BaseResultMap" type="com.xcy.petshop.pojo.Food">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="food_image" property="foodImage" jdbcType="VARCHAR"/>
        <result column="brand" property="brand" jdbcType="VARCHAR"/>
        <result column="p_id" property="pId" jdbcType="INTEGER"/>
        <result column="nation" property="nation" jdbcType="VARCHAR"></result>
    </resultMap>

    <select id="selectAllCatFood" resultMap="BaseResultMap" parameterType="string">
        select f.* , p.* from food f, pokeman p
        <where>
            <if test="_parameter != null and _parameter != ''">
                brand = #{brand} and
            </if>
            f.p_id = p.id and p.id = 1
        </where>
    </select>

    <select id="selectAllDogFood" resultMap="BaseResultMap" parameterType="string">
        select f.* , p.* from food f, pokeman p
        <where>
            <if test="_parameter != null and _parameter != ''">
                brand = #{brand} and
            </if>
            f.p_id = p.id and p.id = 2
        </where>
    </select>

    <select id="selectAllDogFoodBrandList" resultMap="BaseResultMap">
        select f.* ,p.* from food f,pokeman p where f.p_id = p.id and p.id = 2
    </select>

    <select id="selectAllCatFoodBrandList" resultMap="BaseResultMap">
        select f.* ,p.* from food f,pokeman p where f.p_id = p.id and p.id = 1
    </select>
</mapper>